@use "../../../../styles/base.scss" as styles;

.wrapper {
  @include styles.breakpoint(max-width, device-tablet) {
    padding: {
      top: styles.to-rem(30);
      bottom: styles.to-rem(30);
    }
  }

  @include styles.breakpoint(min-width, device-tablet) {
    padding: {
      top: styles.to-rem(50);
      bottom: styles.to-rem(50);
    }
  }
}

.socialLink {
  color: styles.$black;
  border: styles.to-rem(1) solid styles.$black;
}

.copyText {
  background-color: styles.$supernova;
  color: styles.$black;
  font-size: 80%;
  transform: translateY(-50%);
}
