@use "../../../styles/base.scss" as styles;

$pagination-dots: 18px;

.media {
  img {
    position: relative !important;
  }

  .caption {
    background-color: styles.$black;
    color: styles.$white;
  }

  :global(.swiper-wrapper),
  .mediaWrapper {
    z-index: 0;
  }

  :global(.swiper-pagination-gallery) {
    height: styles.to-rem(42);

    @include styles.breakpoint(min-width, device-desktop) {
      left: 50%;
      position: relative;
      transform: translateX(-50%);
      z-index: 1;
    }
  }

  :global(.swiper-pagination-bullet) {
    background-color: styles.$supernova;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: $pagination-dots;
    margin-right: styles.to-rem(8);
    transition: background-color 0.3s ease-in-out;
    width: $pagination-dots;

    &:last-child {
      margin-right: 0;
    }
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: styles.$buddha-gold;
  }
}
