@use "../../../../styles/base.scss" as styles;

$nav-width: styles.to-rem(96);

.container {
  width: 100%;

  @include styles.breakpoint(max-width, device-mobile) {
    padding: {
      top: styles.to-rem(45);
      right: styles.to-rem(15);
      left: calc($nav-width + styles.to-rem(15));
    }
  }

  @include styles.mix-breakpoint(device-mobile, device-tablet) {
    padding: {
      top: styles.to-rem(45);
      right: styles.to-rem(45);
      left: calc($nav-width + styles.to-rem(15));
    }
  }

  @include styles.breakpoint(min-width, device-tablet) {
    padding: {
      top: styles.to-rem(96);
      left: calc($nav-width + styles.to-rem(45));
    }
  }
}
